<!DOCTYPE html>
<html>

<head>
  <title>Uusi ilmoitus</title>
</head>

<body>
  <h1>Uusi ilmoitus</h1>
  <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
      Osasto: <br />
      <select name="section">
        <option value="">(valitse)</option>
        <option value="vapaa-aika">vapaa-aika</option>
        <option value="urheilu">urheilu</option>
        <option value="juhla">juhla</option>
        <option value="toimisto">toimisto</option>
        <option value="koulu">koulu</option>
      </select>
    </p>
    <p>
      Kausi: <br />
      <select name="season">
        <option value="">(valitse)</option>
        <option value="kesä">kesä</option>
        <option value="talvi">talvi</option>
        <option value="välikausi">välikausi</option>
      </select>
    </p>
    <input type="submit" value="Luo ilmoitus" />
  </form>
</body>

</html>