{% extends "layout.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
{% if session.user_id == item.user_id %}
<p>
  <a href="/edit_item/{{ item.id }}">Muokkaa</a>
  <a href="/remove_item/{{ item.id }}">Poista</a>
  <a href="/images/{{ item.id }}">Kuvat</a>
</p>
{% endif %}
{% for image in images %}
<img src="/image/{{ image.id }}" />
{% endfor %}
<p>
  {{ item.description }}
</p>
<p>
  Ilmoittaja: <a href="/user/{{ item.user_id }}">{{ item.username }}</a>
</p>
{% if classes %}
<p>
  Luokat:
  <ul>
    {% for class in classes %}
    <li>{{ class.title }}: {{ class.value }}</li>
    {% endfor %}
  </ul>
</p>
{% endif %}
<h3>Kommentit</h3>
<ul>
  {% for com in comments %}
  <li>{{ com.comment }}, <a href="/user/{{ com.user_id }}">{{ com.username }}</a></li>
  {% endfor %}
</ul>
<h3>Uusi kommentti</h3>
<form action="/create_comment" method="post">
  Kommentti:
  <input type="text" name="comment" maxlength="100" required/>
  <input type="hidden" name="item_id" value="{{ item.id }}">
  <input type="submit" value="Kommentoi" />
</form>
{% endblock %}